<mat-toolbar>
    <mat-toolbar-row>
        <h2 style="color: lightskyblue">FlatMap </h2>
        <h3 style="font-size: 14px;">Wohungssuche leicht gemacht</h3>
        <span class="menu-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <div class="feature_view">
    <app-feature-selection [role]="0" [features]="features" (messageEvent)="fetchSelection($event)"></app-feature-selection>
  </div >

  <div class="heatmap-view">
    <app-heatmap [dataPoints]="data"></app-heatmap>
  </div>
</div>
