mat-card {
  background: lightskyblue;
  /*69A3B0*/
  color: white;
}

.card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 10px;
  border-radius: 5px;
}

mat-card-title {
  font-size: 24px;
}

mat-card-content {
  padding-left: 10px;
  margin-top: -10px;
}

mat-card-footer {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: -20px;
}
