mat-card {
  display: grid;
  
  background: lightskyblue;
  /*69A3B0*/
  color: white;
}

.card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 10px;
  border-radius: 5px;
}

mat-card-title {
  grid-column: 1;
  grid-row: 1;
}

mat-card-content {
  grid-column: 1;
  grid-row: 2;
  padding-left: 10px;
}

mat-card-footer {
  grid-column: 1;
  padding-left: 30px;
  padding-bottom: 50px;
  grid-row: 3;
}

#description {
  grid-column: 2;
  grid-row: 2;
  padding-left: 5px;
}