.pictures {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}
.logo {
    padding-bottom: -10px;
}

h3 {
    padding-left: 10px;
}

mat-card-header {
    display: inline;
}

mat-card {
    cursor: pointer
}

h1 {
    color: lightskyblue; 
    margin-top: 10px; 
    font-size: 80px; 
    margin-bottom: -20px;
}

main {
    padding:10px;
}

button {
    color: lightskyblue;
}
