<header style="text-align:center">
    <img src="./assets/logo_flatmap.png" style="max-height: 100px; margin-top: 20px">
    <h1 style="color: lightskyblue; margin-top: 10px; font-size: 80px; margin-bottom: -5px">
        Hallo!
    </h1>
    <h2 style="padding-bottom: 5px;">
        Wer bist du?
    </h2>
</header>
<main style="padding:10px">
    <div class="pictures">
        <mat-card class="tp-card" style="margin:10px">
            <mat-card-header>
                <mat-card-title>Stefan Student</mat-card-title>
                <mat-card-subtitle>Ist gerade nach Münster gezogen</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <img style="padding-top:10px" mat-card-image src="https://image.flaticon.com/icons/svg/167/167750.svg"
                    alt="Stefan Student" (click)="goToFeatureSelectionForStudent()">
                <p>
                    Ich bin Stefan, ich studiere aktuell Mathe an der Uni Münster.
                    In meiner Freizeit spiele ich gern Quidditch. Wichtig ist mir,
                    dass ich es nicht weit zur Bushaltestelle habe und dass meine Wohnung
                    nicht allzu teuer ist.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button (click)="goToFeatureSelectionForStudent()" mat-button style="color: lightskyblue">
                    Das bin ich!</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="tp-card" style="margin:5px">
            <mat-card-header>
                <div mat-card-avatar class="tp-header-image"></div>
                <mat-card-title>Familie Froh</mat-card-title>
                <mat-card-subtitle>Sucht eine größere Wohnung</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div style="padding-top:10px; padding-left: 10px; padding-right: 10px">
                    <img mat-card-image src="https://image.flaticon.com/icons/svg/1530/1530840.svg" alt="Familie"
                        (click)="goToFeatureSelectionForStudent()">
                </div>
                <p>
                    Wir heißen Noah, Emma und Magret. Emma und ich
                    arbeiten als Landschaftsarchitekten und unsere Tochter Magret
                    geht in den Kindergarten. Für uns ist es wichtig, dass es einen
                    Park in der Nähe gibt und der Kindergarten nicht zu weit weg ist.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button (click)="goToFeatureSelectionForStudent()" mat-button style="color: lightskyblue">Das sind
                    wir!</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="tp-card" style="margin:10px">
            <mat-card-header>
                <mat-card-title>Brenda Business</mat-card-title>
                <mat-card-subtitle>Wünscht sich eine schönere Wohnung</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <img style="padding-top:10px" mat-card-image src="https://image.flaticon.com/icons/svg/554/554857.svg"
                    alt="Businessmensch" (click)="goToFeatureSelectionForStudent()">
                <p>
                    Mein Name ist Brenda. Ich arbeite in Münster bei der LVM
                    und fahre abends gerne zum Sport. Ich gehe gerne mit meinen
                    Freunden Wein trinken und mag es auch, gut essen zu gehen.
                </p>
            </mat-card-content>
            <button (click)="goToFeatureSelectionForStudent()" mat-button style="color: lightskyblue">
                Das bin ich!
            </button>
        </mat-card>


    </div>
</main>
